form.form
    h2.form__title.title.title--h2 Оставить заявку
    .form__subtitle После регистрации вы попадете в закрытый телеграм чат, в котором можно будет задать вопросы после эфира
    .form__inputs
        .form__input
            input(type="text" placeholder="Имя")
        .form__input
            input(type="text" placeholder="E-mail")
        .form__input
            input(type="text" placeholder="Телефон")
    .form__checkbox Отправляя заявку, вы принимаете условия <a href="">договора оферты</a> и даете согласие на обработку своих персональных данных в соответствии с <a href="">политикой конфиндециальности</a> 
    button.form__submit.btn.btn--orange(type="submit") Зарегистрироваться