section.main-top
    .l-default 
        .main-top__wrapper 
            .main-top__info
                .main-top__subtitle Бесплатный вебинар
                h1.main-top__title.title.title--h1 Как сохранить и приумножить
                .main-top__description <span>накопленный капитал</span> в неопределённости сегодняшних дней?
                .main-top__text Онлайн трансляция на YouTube 27 октября в 13:00 по московскому времени
                a.main-top__btn.btn.btn--orange(href="") Зарегистрироваться
            .main-top__img
                +webp(['main-top/pirogov'], 'png')