section.who
    .l-default 
        .who__img   
            +webp(['main-top/pirogov'], 'png')
        .who__info
            h2.who__title.title.title--h2 Кто будет вести вебинар?
            .who__text  
                p Основатель аналитической компании Invest Heroes
                p Входит в совет эндаудмент фонда Высшей Школы Экономики
                p Главный макро стратег фонда "Арикапитал - Инвестхироуз" с объёмом средств под управлением 0.5МЛРД руб. +
                p Research команды Invest Heroes входит в международный рейтинг Refinitiv