.footer {
    padding: 30px 0;
    color: #fff;
    background: linear-gradient(90deg, #2D70BF 0%, #0E2767 100%);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between; 

        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
        }
    }

    &__socials {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            margin-bottom: 12px;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 33px;
        max-width: 33px;
        min-height: 33px;
        max-height: 33px;
        font-size: 18px;
        line-height: 1;
        background: #fff;
        padding: 7px;
        border-radius: 100%;
        margin-right: 13px;

        &:last-child {
            margin-right: 0;
        }
    }
}