footer.footer 
    .l-default
        .footer__wrapper
            .footer__policy © «Invest Heroes», 2018-2022
            .footer__socials
                a.footer__social(href="") 
                    +svgMono('tg')
                a.footer__social(href="") 
                    +svgMono('vk')