*{
    box-sizing: border-box;
}
input,button,textarea{
    -webkit-appearance: none;
}
html, body {
    overflow-x: hidden !important;
    min-width: 320px;
}

body {
    position: relative;
    font-family: $primary_font;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    background: #fff;
    color: $blue;
    overflow-y: hidden;
}

.main {
    flex: 1;
    z-index: z("l-default");
    display: flex;
    flex-direction: column;
    flex: 1;
}

.lazy, .swiper-lazy  {
    opacity: 0;
}

.loading,
.loaded,
[data-was-processed="true"],
[data-ll-status="entered"],
.swiper-lazy-loaded {
    @include tr(all);
    opacity: 1;
}

.hidden {
    display: none !important;
    opacity: 0 !important;
}

.show,
.show_btn {
    display: flex !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

textarea,
a,
button,
input[type="submit"] {
    @include tr(all);
    text-decoration: none;
    color: inherit;
    outline: none;
    &:disabled {
        opacity: .4;
    }
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

input[type="submit"]:disabled {
    opacity: .5;
    cursor: not-allowed;
}

button {
    background: none;
    border: none;
}

input,
video {
    outline: none;
    border: none;
}

.fancybox-content{
    padding: 0;
}

input, textarea {
    &::placeholder {
        @include tr("all");
    }
    &:focus {
        &::placeholder {
            opacity: 0 !important;
        } 
    }
}

img {
    display: block;
    max-width: 100%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: z("loader");
}

.section {
    &--blue {
        color: #fff;
        background: $blue;
    }
}

.title {
    line-height: 100%;
    margin: 0;
    padding: 0;

    &--h1 {
        font-size: 67px;
        line-height: 120%;
        font-weight: 900;
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
            font-size: 42px;
        }

        @media screen and (max-width: 767px) {
            font-size: 28px;
        }
    }

    &--h2 {
        font-size: 46px;
        line-height: 120%;
        font-weight: 900;
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
            font-size: 42px;
        }

        @media screen and (max-width: 767px) {
            font-size: 28px;
        }
    }
}

.swiper-button-disabled {
    display: none !important;
}

.slider-arrow {
    display: none;
    cursor: pointer;       
}

.z1001 {
    z-index: 1001;
}

.l {
    &-default {
        position: relative;
        z-index: z("l-default");
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        box-sizing: border-box;
        @media screen and (max-width: 1199px) {
            padding: 0 20px;
        }
    }

}

.btn {
    @include tr("all");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: .6;
    }

    &--orange {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: fit-content;
        min-height: 57px;
        font-size: 22px;
        line-height: 1;
        color: #fff;
        background: $orange;
        border-radius: 83px;
        padding: 16px 45px;
    }

    &--blue {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: fit-content;
        min-height: 48px;
        font-size: 17px;
        line-height: 1;
        color: #fff;
        background: $blue;
        border-radius: 6px;
        padding: 9px 40px;
    }
}

.shadow {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: z("shadow");
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .5;
}

input, textarea {
    background: #F7F7F7;
    border: none;
}

.fancybox-content {
    background: none;
    z-index: 99994;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.swiper-pagination {
    position: static;
    top: unset;
    left: unset;

    &-bullets {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    &-bullet {
        width: 14px;
        height: 14px;
        margin-right: 25px;

        &:last-child {
            margin-right: 0 !important;
        }
    }
}

.arrow-up {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showFromRight {
    from {
        opacity: 0;
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showFromTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


